body{
    margin: 0;
    background: darkgray;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#verticalbuttons {
    display: flex;
    flex-direction: column;
}

button {
    padding: 5px 5px 7px 5px;
    border: none;
    border-radius: 5px;
    margin: 2px;
    cursor: pointer;
}

button:hover {
    background-color: #9e6767;
}  
#carCanvas {
    background: lightgray;
}

#networkCanvas {
    background: black
}